{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_rocketchat/block

    This template renders the main content area for the Rocket.Chat block.

    Example context (json):
    {
        "courseid": "3",
        "user": [
            {
                "status": "offline"
            }
        ],
        "private": [
            {
                "id": "GENERAL",
                "name": "general",
                "href": "https:\/\/FQDN\/channel\/",
                "layout": "?layout=embedded"
            }
        ],
        "public": [
            {
                "id": "GENERAL",
                "name": "general",
                "href": "https:\/\/FQDN\/channel\/",
                "layout": "?layout=embedded"
            }
        ]
    }
}}
<div class="wrappingdiv">
    <div class="status">
        Status: <span class="online-text" data-region="contact-icon-{{#user}}{{status}}{{/user}}">
                <i class="icon fa fa-circle fa-fw " aria-hidden="true" title="{{#user}}{{status}}{{/user}}" aria-label="{{#user}}{{status}}{{/user}}"></i>
                </span>
    </div>
    <div class="groups">
        <i class="fa fa-user-secret" aria-hidden="true"></i><span class="lbl_chat"> {{# str }} lbl_group, block_rocketchat {{/ str }}</span>
        <div id="privateresults">
        	<ul>
        		{{#private}}
        		<li>
                    <a href="{{href}}{{name}}{{layout}}" target="_blank">{{name}}</a>
                </li>
        		{{/private}}
        	</ul>
        </div>
    </div>
    <div class="channels">
        <i class="fa fa-users" aria-hidden="true"></i><span class="lbl_chat"> {{# str }} lbl_chat, block_rocketchat {{/ str }}</span>
        <div id="publicresults">
        	<ul>
        		{{#public}}
        		<li>
                    <a href="{{href}}{{name}}{{layout}}" target="_blank">{{name}}</a>
                </li>
        		{{/public}}
        	</ul>
        </div>
    </div>
	<div class="dropdown">
  		<button class="dropbtn">Actions</button>
  		<div class="dropdown-content">
    		<a href="#">Create channel</a>
			<a href="#">Change status</a>
			<a href="./../blocks/rocketchat/classes/logout.php?id={{courseid}}">Logout</a>
 		</div>
	</div>
</div>