{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_rocketchat/block

    This template renders the main content area for the Rocket.Chat block.

    Example context (json):
    {
        "courseid": 2,
        "displaymode": "popup",
        "instanceurl": "https://FQDN",
        "loginurl": "https://FQDN/home?resumeToken=token",
        "logouturl": "https://FQDN/blocks/rocketchat/logout.php?id=courseid",
        "notifications": [
            {
                "type": "success",
                "message": "Successfully logged in to Rocket.Chat."
            }
        ],
        "user": [
            {
                "status-online": false,
                "status-away": false,
                "status-busy": false,
                "status-offline": true
            }
        ],
        "private": [
            {
                "name": "general",
                "href": "https:\/\/FQDN\/group\/",
                "layout": "?layout=embedded",
                "unread": 3,
                "hasunread": true
            }
        ],
        "public": [
            {
                "name": "general",
                "href": "https:\/\/FQDN\/channel\/",
                "layout": "?layout=embedded",
                "unread": 0,
                "hasunread": false
            }
        ]
    }
}}
<div id="block-rocketchat-{{uniqid}}" data-region="rocketchat" data-courseid="{{courseid}}" data-displaymode="{{displaymode}}">
    <div class="container p-0">
        {{#notifications}}
            <div class="alert alert-{{type}} alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{#str}} closebuttontitle {{/str}}"></button>
            </div>
        {{/notifications}}
        <div class="flex-fill d-flex justify-content-end">
            <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="rocketchat_dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    {{#user}}
                        <span data-region="rocketchat-status-icon">
                            <span data-status="online" class="{{^status-online}}d-none{{/status-online}}">
                                {{#pix}} i/item, core, {{#str}} online, message {{/str}} {{/pix}}
                            </span>
                            <span data-status="away" class="{{^status-away}}d-none{{/status-away}}">
                                {{#pix}} i/calendareventtime, core, {{#str}} away, block_rocketchat {{/str}} {{/pix}}
                            </span>
                            <span data-status="busy" class="{{^status-busy}}d-none{{/status-busy}}">
                                {{#pix}} i/excluded, core, {{#str}} busy, block_rocketchat {{/str}} {{/pix}}
                            </span>
                            <span data-status="offline" class="{{^status-offline}}d-none{{/status-offline}}">
                                {{#pix}} i/uncheckedcircle, core, {{#str}} offline, message {{/str}} {{/pix}}
                            </span>
                        </span>
                    {{/user}}
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="rocketchat_dropdown">
                    <li><h6 class="dropdown-header">{{#str}} status, core {{/str}}</h6></li>
                    <li>
                        <a class="dropdown-item" href="#" data-action="rocketchat-set-status" data-status="online">
                            {{#pix}} i/item, core {{/pix}} {{#str}} online, message {{/str}}
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#" data-action="rocketchat-set-status" data-status="away">
                            {{#pix}} i/calendareventtime, core {{/pix}} {{#str}} away, block_rocketchat {{/str}}
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#" data-action="rocketchat-set-status" data-status="busy">
                            {{#pix}} i/excluded, core {{/pix}} {{#str}} busy, block_rocketchat {{/str}}
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#" data-action="rocketchat-set-status" data-status="offline">
                            {{#pix}} i/uncheckedcircle, core {{/pix}} {{#str}} offline, message {{/str}}
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" href="{{instanceurl}}" target="_blank" rel="noopener noreferrer">
                            {{#pix}} i/externallink, core {{/pix}} {{#str}} gotoinstance, block_rocketchat {{/str}}
                        </a>
                    </li>
                    <li><a class="dropdown-item" href="{{logouturl}}">{{#str}} logout, core {{/str}}</a></li>
                </ul>
            </div>
        </div>

        <h6 class="pt-3">{{#pix}} i/switchrole, core {{/pix}} {{#str}} individualconversations, core_message {{/str}}</h6>
        <div class="list-group mb-3">
        {{#private}}
            <a href="{{href}}{{name}}{{layout}}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" data-action="view-channel" data-name="{{name}}">
                <span>{{name}}</span>
                {{#hasunread}}
                    <span class="badge bg-primary rounded-pill" data-region="rocketchat-unread" aria-label="{{#str}} unreadmessages, block_rocketchat, {{unread}} {{/str}}">{{unread}}</span>
                {{/hasunread}}
            </a>
        {{/private}}
        {{^private}}
            <small>{{#str}} noindividualconversations, core_message {{/str}}</small>
        {{/private}}
        </div>

        <h6>{{#pix}} i/group, core {{/pix}} {{#str}} groupconversations, core_message {{/str}}</h6>
        <div class="list-group">
        {{#public}}
            <a href="{{href}}{{name}}{{layout}}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" data-action="view-channel" data-name="{{name}}">
                <span>{{name}}</span>
                {{#hasunread}}
                    <span class="badge bg-primary rounded-pill" data-region="rocketchat-unread" aria-label="{{#str}} unreadmessages, block_rocketchat, {{unread}} {{/str}}">{{unread}}</span>
                {{/hasunread}}
            </a>
        {{/public}}
        {{^public}}
            <small>{{#str}} nogroupconversations, core_message {{/str}}</small>
        {{/public}}
        </div>
    </div>
    <iframe id="rocketchat-login" class="d-none" src="{{loginurl}}#"></iframe>
</div>
