{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_rocketchat/login

    This template renders the login form for the Rocket.Chat block.

    Example context (json):
    {
        "tmpusername": "username",
        "tmppassword": "password"
    }
}}
<div id="block-rocketchat-{{uniqid}}" data-region="rocketchat">
    <div class="container-fluid p-0">
        <form id="rocketchat_form_login" method="post">
            <p>{{# str}} intro, block_rocketchat {{/ str}}</p>

            <div class="form-group">
                <label for="rocketchat_username">{{#str}} usernameemail {{/str}}</label>
                <input type="text" class="form-control" id="rocketchat_username" value="{{tmpusername}}">
            </div>

            <div class="form-group">
                <label for="rocketchat_password">{{#str}} password {{/str}}</label>
                <input type="password" class="form-control" id="rocketchat_password" value="{{tmppassword}}">
            </div>

            <button type="submit" class="btn btn-primary btn-block">{{#str}} login {{/str}}</button>
        </form>
    </div>
</div>